/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.textbox {
  color: white;
  position: relative;
  width: 100%;
  padding: 24px;
  background: #6cbfee;
  border-radius: 5px;
  margin: 0 0 40px 0; }
  .textbox .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #6cbfee transparent transparent;
    position: absolute;
    left: -8px;
    top: 10px; }
    @media only screen and (max-width: 768px) {
      .textbox .triangle {
        left: -4px; } }
  .textbox .line {
    position: absolute;
    left: -8.5%;
    top: 0;
    height: 200%;
    width: 10px;
    border-radius: 5px;
    background: #afdcf8; }
    @media only screen and (max-width: 768px) {
      .textbox .line {
        left: -30px; } }
    @media only screen and (max-width: 414px) {
      .textbox .line {
        position: static;
        left: 0;
        top: 0;
        height: 10px;
        width: 100%;
        border-radius: 5px;
        transition: all .2s ease; } }
    .textbox .line .bubble {
      height: 40px;
      width: 40px;
      background: #3594cb;
      border: solid thick #afdcf8;
      border-radius: 50%;
      position: relative;
      left: 50%;
      top: 0;
      transform-origin: center;
      transform: translate(-50%); }
      @media only screen and (max-width: 414px) {
        .textbox .line .bubble {
          left: 30px;
          top: 50%;
          transform: translateY(-50%);
          transition: all .2s ease; } }
      .textbox .line .bubble .icon {
        padding: 22% 0;
        text-align: center; }
    .textbox .line .date, .textbox .line .time {
      position: absolute;
      font-family: monospace; }
    .textbox .line .date {
      color: #bbcfdb;
      font-size: 8px;
      top: 3px;
      left: -65px; }
      @media only screen and (max-width: 414px) {
        .textbox .line .date {
          font-size: 20px;
          top: -20px;
          left: 5%; } }
    .textbox .line .time {
      color: #6cbfee;
      font-size: 30px;
      top: 15px;
      left: -108px; }
      @media only screen and (max-width: 768px) {
        .textbox .line .time {
          top: 40px;
          left: -90px; } }
      @media only screen and (max-width: 414px) {
        .textbox .line .time {
          color: #3594cb;
          font-size: 24px;
          top: 0px;
          left: 95px; } }

section {
  padding: 20px 0; }
  @media only screen and (max-width: 768px) {
    section {
      line-height: 1.3; } }
  @media only screen and (max-width: 414px) {
    section {
      line-height: 1.7; } }

.headline {
  border-bottom: solid 1px #afdcf8; }
  .headline h1 {
    font-size: 20px;
    font-weight: bold; }

.paragraph p {
  font-size: 14px;
  font-weight: lighter; }

body {
  font-family: sans-serif;
  font-weight: lighter;
  padding-top: 100px; }

@media only screen and (min-width: 769px) {
  .timeline {
    margin: 0 20% 0 25%; } }
@media only screen and (max-width: 768px) {
  .timeline {
    margin: 0 1% 0 125px; } }
@media only screen and (max-width: 414px) {
  .timeline {
    margin: 0 0% 0 0%;
    transition: all .2s ease; } }
.timeline :nth-child(2n) .textbox {
  background: #3594cb; }
.timeline :nth-child(2n) .triangle {
  border-color: transparent #3594cb transparent transparent; }
.timeline :nth-child(2n) .line .time {
  color: #3594cb; }
.timeline :last-child .textbox .line {
  height: 100%; }
@media only screen and (max-width: 414px) {
  .timeline :nth-child(2n) .line .time {
    color: #6cbfee; }
  .timeline :last-child .textbox .line {
    height: 10px;
    transition: all .2s ease; } }

/*# sourceMappingURL=main.css.map */
