/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  font-weight: lighter;
  padding-top: 100px; }

.entry {
  height: 290px;
  min-height: 162px; }

.timeline :nth-child(2n) .textbox {
  background: #3594cb; }
.timeline :nth-child(2n) .triangle {
  border-color: transparent #3594cb transparent transparent; }
.timeline :nth-child(2n) .line .time {
  color: #3594cb; }

.textbox {
  color: white;
  position: absolute;
  right: 20%;
  width: 40%;
  padding: 24px;
  background: #6cbfee;
  border-radius: 5px; }
  .textbox .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #6cbfee transparent transparent;
    position: absolute;
    left: -10px;
    top: 10px; }
  .textbox .line {
    position: absolute;
    left: -15%;
    top: 0;
    height: 120%;
    width: 10px;
    border-radius: 5px;
    background: #afdcf8; }
    .textbox .line .bubble {
      height: 40px;
      width: 40px;
      background: #3594cb;
      border: solid thick #afdcf8;
      border-radius: 50%;
      position: relative;
      left: 50%;
      top: 0;
      transform-origin: center;
      transform: translate(-50%); }
      .textbox .line .bubble .icon {
        padding: 22% 0;
        text-align: center; }
    .textbox .line .date, .textbox .line .time {
      position: absolute;
      font-family: monospace; }
    .textbox .line .date {
      color: #bbcfdb;
      font-size: 8px;
      top: 3px;
      left: -65px; }
    .textbox .line .time {
      color: #6cbfee;
      font-size: 30px;
      top: 15px;
      left: -108px; }
  .textbox section {
    padding: 20px 0; }
  .textbox .headline {
    border-bottom: solid 1px #afdcf8; }
    .textbox .headline h1 {
      font-size: 20px;
      font-weight: bold; }
  .textbox .paragraph p {
    font-size: 14px;
    font-weight: lighter; }

/*# sourceMappingURL=main.css.map */
