@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/textbox";
@import "partials/content";

// VERTICAL LINE

body {
  font-family: sans-serif;
  font-weight: lighter;
  padding-top: 100px;
}

.timeline {

  @include desktop {
  margin: 0 20% 0 25%;
  }

  @include tablet {
    margin: 0 1% 0 125px;
  }

  @include mobile {
    margin: 0 0% 0 0%;
    transition: all .2s ease;

  }

  :nth-child(2n) .textbox { //every other box color dark blue
    background: $darkblue;
  }
  :nth-child(2n) .triangle { // every other triangle darkblue
    border-color: transparent $darkblue transparent transparent;
  }
  :nth-child(2n) .line .time { // every other timestamp darkblue
    color: $darkblue;
  }

  :last-child  .textbox .line { // very last line ends with text
    height: 100%;
  }

  @include mobile {
    :nth-child(2n) .line .time {
      color: $blue;
    }

    :last-child .textbox .line {
      height: 10px;
      transition: all .2s ease;
    }
  }

}
